Source: devdocs-meta
Priority: optional
Section: metapackages
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-vim-addon,
Standards-Version: 4.6.2
Rules-Requires-Root: no
Vcs-Browser: https://github.com/cccp-linux/devdocs-meta
Vcs-Git: https://github.com/cccp-linux/devdocs-meta.git

Package: devdocs-meta
Architecture: all
Depends:
 ${misc:Depends},
 ${vim-addon:Depends},
 devdocs,
Recommends:
 devdocs-data-bash,
 devdocs-data-c,
 devdocs-data-c++,
 devdocs-data-cmake,
 devdocs-data-g++,
 devdocs-data-gcc,
 devdocs-data-git,
 devdocs-data-make,
 devdocs-data-man,
 devdocs-data-opengl,
 devdocs-data-python,
 devdocs-data-qt,
Description: Devdocs meta-package
 Add the following to your .config/nvim/init.lua:
 * require("devdocs")
